use admin
db.createUser({user: '${USER}',pwd: '${PASS}',roles:[{role:'dbAdminAnyDatabase',db:'admin'},{role:'readWriteAnyDatabase',db:'admin'},{role:'userAdmin',db:'admin'},{role:'dbOwner',db:'admin'},{role:'clusterAdmin',db:'admin'},{role:'readAnyDatabase',db:'admin'},{role:'userAdminAnyDatabase',db:'admin'}]})
